html {
  scroll-behavior: smooth;
  height: auto;
}
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .container-fluid {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    .nav-wrap {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      padding: 0 20px;
      .navbar-brand {
        text-decoration: none;
        color: black;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 32px;
      }
      .hamburger-menu {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        justify-content: center;
        .line {
          width: 100%;
          height: 4px;
          background-color: #333;
          margin: 2px 0;
        }
      }
    }
    .collapse {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .search-box {
          .dropdown-input {
            .input-box {
              .search-input {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 0;
                transition: width 0.3s;
                overflow: hidden;
                display: none;
                &:focus {
                  width: 150px;
                  padding-right: 5px;
                  transition: width 0.3s, padding 0.3s;
                }
              }
            }
          }
          .search-button {
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
            margin-top: 0.5em;
            .search-icon {
              cursor: pointer;
            }
          }
        }
        .dropdown {
          position: relative;
          display: flex;
          justify-content: space-between;
          z-index: 4;
          .dropdown-menu {
            width: 200px;
            position: absolute;
            background: beige;
            box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
            margin-top: 30px;
            border-radius: 7px;
            display: none;
            .dropdown-menu-item {
              padding: 0.5rem;
              &:hover {
                background: rgb(255, 213, 196);
                border-radius: 7px;
                transition: 0.5s;
              }
              a {
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 0;
                margin: 0;
              }
            }
          }
          a:focus + ul {
            display: block;
          }
          .offers {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          li {
            list-style-type: none;
            .dropdown-item {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}

li {
  list-style-type: none;
  a {
    text-decoration: none;
    color: black;
  }
}
