html {
  scroll-behavior: smooth;
  height: auto;
}
body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container-fluid {
    width: 88%;
    height: 72px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-between;
    .hamburger {
      width: 40px;
      height: 35px;
      border: 0;
      border-top: 5px solid black;
      background: transparent;
      position: relative;
      transition: 0.3s transform linear; display: inline-block;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid black;
        transform: translateY(10px);
      }
      &::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
      }
      &:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
        &::after {
          transform: rotate(-90deg) translateX(-10px);
        }
      }
    }
    .collapse {
      width: 10%;
      height: auto;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      .navbar-nav {
        justify-content: space-between;
        .search-box {
          .dropdown-input {
            .input-box {
              .search-input {
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 0;
                transition: width 0.3s;
                overflow: hidden;
                display: none;
                &:focus {
                  width: 150px;
                  padding-right: 5px;
                  transition: width 0.3s, padding 0.3s;
                }
              }
            }
          }
          .search-button {
            border: none;
            background: none;
            cursor: pointer;
            outline: none;
            margin-top: 0.5em;
            .search-icon {
              cursor: pointer;
            }
          }
        }
        .dropdown {
          position: relative;
          width: 13%;
          display: flex;
          justify-content: space-between;
          z-index: 4;
          .dropdown-menu {
            width: 200px;
            position: absolute;
            background: beige;
            box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
            margin-top: 30px;
            border-radius: 7px;
            display: none;
            .dropdown-menu-item {
              padding: 0.5rem;
              &:hover {
                background: rgb(255, 213, 196);
                border-radius: 7px;
                transition: 0.5s;
              }
              a {
                width: 100%;
                height: 100%;
                display: inline-block;
                padding: 0;
                margin: 0;
              }
            }
          }
          a:focus + ul {
            display: block;
          }
          .offers {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          li {
            list-style-type: none;
            .dropdown-item {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}

li {
  list-style-type: none;
  a {
    text-decoration: none;
    color: black;
  }
}
