.about_company {
  width: 100%;
  height: 45rem;
  display: flex;
  background: #578166;
  @media (max-width: 1200px) {
    display: block;
    height: auto;
  }
  .image_content {
    width: 50%;
    height: 100%;
    @media (max-width: 1200px) {
      width: 100%;
      height: auto;
    }
    img {
      @media (max-width: 1200px) {
        width: 100%;
        height: auto;
      }
    }
  }
  .big_container_about_company {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (max-width: 1200px) {
      width: 100%;
      height: auto;
      padding-bottom: 2em;
    }
    .container_about_company {
      width: 100%;
      height: 28.125rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      @media (max-width: 600px) {
        text-align: center;
        align-items: center;
      }
      .content_about_company {
        height: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #f5f0ec;
        .title_about_company {
          font-family: "Inter", sans-serif;
          font-weight: 400;
          font-size: 12;
          line-height: 18px;
          letter-spacing: -1%;
          color: #f5f0ec;
        }
        .title_paragraph_about_company {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .passion {
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            font-size: 48px;
            line-height: 55.2px;
            letter-spacing: -3%;
            margin-bottom: 40px;
            color: #f5f0ec;
          }
          .description_about_company {
            font-family: "Inter", sans-serif;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: -1%;
            color: #f5f0ec;
          }
        }
      }
    }
    .button_about_company {
      background: transparent;
      border: none;
      border: 1px solid #f5f0ec;
      border-radius: 200px;
      color: #f5f0ec;
      height: 3.125rem;
      width: 12.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      left: -6.25rem;
      cursor: pointer;
      @media (max-width: 600px) {
        left: 0;
      }
      img {
        margin-left: 10px;
      }
    }
  }
}
