.all-sections {
  width: 100%;
  height: auto;
  .intro {
    width: 100%;
    height: auto;
    display: block;
    .container-content {
      display: flex;
      width: 100%;
      background-color: #dcc1ab;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 75vh;
      .content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        .title {
          font-size: 2.8rem;
          line-height: 3.4rem;
          font-weight: 500;
          font-family: "Montserrat", sans-serif;
          text-align: center;
          width: 100%;
        }
        .brand-description {
          font-weight: 400;
          line-height: 1.5rem;
          font-family: "Inter", sans-serif;
        }
      }
      .incentive {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        margin-top: 2em;
        .contact-button {
          height: 100%;
          padding: 12px, 24px, 14px, 24px;
          width: 15.56rem;
          border: none;
          background-color: #1b5b31;
          border-radius: 200px;
          margin-right: 2.3rem;
          color: #f5f0ec;
          line-height: 24px;
          font-weight: 200;
          font-family: "Inter", sans-serif;
          cursor: pointer;
        }
        .projects-done {
          height: 100%;
          padding: 12px, 22px, 14px, 22px;
          border: 1px solid #1b5b31;
          width: 15.56rem;
          border-radius: 200px;
          background-color: transparent;
          color: #1b5b31;
          line-height: 24px;
          cursor: pointer;
        }
      }
    }
    .carousel {
      position: relative;
      width: 100%;
      height: 50vh;
      overflow: hidden;
      .buttons-prev-next {
        position: absolute;
        top: 94%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        .prev,
        .next {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: opacity 0.3s ease;
          .bnt {
            background-color: #292929;
            font-size: 24px;
            width: 100%;
            height: 100%;
            border: none;
            opacity: 0.8;
          }
        }
        .prev:hover,
        .next:hover {
          background-color: #555;
          color: #fff;
        }
      }
      .carousel-item.active {
        display: block;
        height: 100%;
      }
      .carousel-item {
        display: none;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
